{% extends 'base.html' %}

{% load static %}
{% load auth_extras %}
{% block title %}
Category Details
{% load crispy_forms_tags %}
{% endblock title %}



{% block content %}
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Lawyer System.</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cases:cat_list' %}">Category</a>
                            </li>
                            <li class="breadcrumb-item active">Category Details</li>
                        </ol>
                    </div>

                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        {% include 'messages/messages.html' %}









        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mt-0 header-title text-center">
                            {{cat.name|title}}
                        </h2>
                        <p class="text-muted text-center">{{cat.date_added|date}}

                        </p>
                        {% if subs %}
<p class="text-muted text-center">
                        {% for sub in subs %}


                        <a href="{{sub.get_absolute_url}}">{{sub.name}} ,</a>

                        {% endfor %}

                         </p>
                        {% endif %}
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->

                <div class="card">

                    <div class="card-body">




                        <!-- <button class="btn btn-gradient-primary px-4 float-right mt-0 mb-3" data-toggle="modal"
                            data-target=".bd-example-modal-xl"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New
                            Case</button>
                        <button class="btn btn-gradient-primary px-4 float-left mt-0 mb-3" data-toggle="modal"
                            data-target=".bd-example-modal-lg"><i class="mdi mdi-send mr-2"></i>Request Files</button> -->






                        <div class="table-responsive dash-social">
                            <table id="datatable" class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Team</th>
                                        <th>Status</th>
                                        <th>Date Added</th>
                                        <th>Added By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <!-- load -->


                                <tbody>

                                    {% for case  in  case_list %}
                                    <tr>

                                        <td>{{forloop.counter}}</td>
                                        <td>
                                            {{case.name|title}}

                                        <td>{{case.team}}</td>


                                        {% if case.closed %}
                                        <td> <span class="badge badge-md   badge-soft-success">Closed</span>
                                        </td>
                                        {% else %}
                                        <td> <span class="badge badge-md   badge-soft-danger">Open</span>
                                        </td>
                                        {% endif %}


                                        <td> {{case.date_added|date}} | {{case.date_added|timesince}} Ago</td>
                                        <td>{{case.added_by|title}}</td>



                                        <td>

                                            <a href="{{case.get_absolute_url}}"
                                                class="btn btn-gradient-secondary waves-effect waves-light"><i
                                                    class="mdi mdi-eye"></i></a>


 {% comment %} {% if request.user|has_group:"Lawyer" %}
                                            <a href="{% url 'cases:make_request' case.pk %}"
                                                class="btn btn-gradient-dark waves-effect waves-light"><i
                                                    class="mdi mdi-send"></i></a>
{% endif %} {% endcomment %}

                                        </td>


                                    </tr>



                                    {% endfor %}



                                    <!--end tr-->




                                </tbody>
                            </table>
                        </div>


                    </div>















                    </div>
            </div>


            <!--end col-->


            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">


                        <center>
                            <h3>Actions</h3>

                        </center>

                        <button class="btn btn-primary" data-toggle="modal" data-animation="bounce"
                            data-target=".bs-example-modal-lg">Edit</button>


                        <button class="btn btn-danger" data-toggle="modal" data-animation="bounce"
                            data-target=".bs-example-modal-center">Delete</button>

                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>



            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0 text text-center" id="myLargeModalLabel">Edit
                                doc</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">

                            {% include 'cases/category/update.html' %}

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>




            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="exampleModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>AreYou Sure You Want TO Delete {{case.name|title}}</p>


                            <form action="{% url 'cases:cat_delete' cat.pk %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-secondary" data-dismiss="modal"
                                    aria-label="Close">Cancel</button>

                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>


                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        </div>
    </div>
    </div>
    {% endblock content %}