{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}
{% block title %}
Task List


{% endblock title %}

{% block content %}


<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Lawyer System.</a></li>

                            </li>

                            <li class="breadcrumb-item active"> <a href="{% url 'cases:list_tasks' case.pk %}">Task
                                    List</a> </li>
                        </ol>
                    </div>

                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->

        {% include 'messages/messages.html' %}








        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">


                        <h4 class="mt-0 header-title">Update Task</h4>




                        {% load crispy_forms_tags %}


                        <form action="{% url 'cases:edit_task' task.pk %}" method="post">

                            {% csrf_token %}
                            {{ task_form|crispy }}
                            <center>
                                <button type="submit" class="btn btn-secondary">Update Task</button>

                            </center>

                    </div>


                    </form>







                </div>













                <!-- sample modal content -->
                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="myModalLabel">New Task</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary waves-effect"
                                    data-dismiss="modal">Close</button>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->













            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock content %}